*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primarycolor: #FF5400;
  --secondarycolor: #131318;
  --commoncolor: #FFFFFF;
  --littletext: #131318;
  --fontfamily:"Mulish", sans-serif;
}
/* common css */
.hide{
  display: none;
}

p{
  color: var(--littletext);
  font-size: 16px;
  text-align: justify;
}

.section_heading{
  color: var(--littletext);
  font-size: 40px;
}

.common_button{
  color: var(--commoncolor);
  background-color: var(--primarycolor);
  font-size: 18px;
  padding: 12px 15px;
  border-radius: 10px;
}

body{
  max-width: 1170px;
  margin: auto;
  font-family: var(--fontfamily);
}

/* header part */

.navber {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: var(--secondarycolor);
  font-size: 25px;
}

.logo img{
  margin-right: 10px;
}
.menu > ul {
  margin: 20px 0;
}

.menu > ul > li {
  display: inline;
  margin: 0 20px;
}

.menu > ul > li > a{
  color: #424247;
  font-family: var(--fontfamily);
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

/* banner part */

.banner {
  background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.banner_overly{
  position: absolute;
  background-color: #424247;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.banner_content{
  margin: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  
}

.banner_content h1{
  color: var(--commoncolor);
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 20px;
}

.banner_form{
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px 8px;
  border-radius: 8px;
}
input, .select_btn{
  width: 24%;
  font-size: 16px;
  padding: 10px 2px;
  border-radius: 6px;
  color: var(--littletext);
  cursor: pointer;
  border: none;
  outline: none;
}

.search_icon {
  margin: 0 10px ;
}

/*  populer part */
.populer_part{
  padding: 70px 0;
}

.populer_content {
  display: flex;
  flex-direction: row;
}

.populer_text {
  margin-right: 100px;
}

.populer_text ul li{
  position: relative;
  left: 20px;
  color: var(--littletext);
}

/* destination_part */

.destination_part {
  padding-bottom: 70px;
}

.destination_content{
  display: flex;
  gap: 0 20px;
}

.destination_img img{
  width: 100%;
}

.destination_overly h4{
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110000;
  color: var(--commoncolor);
}



/* responsive web */

@media screen and (max-width: 576px ) {
  /* header */
  .navber {
    margin: 0;
  }

  .logo{
    margin-top: 15px;
    margin-left: 10px;
  }
  .menu > ul {
    margin: 0;
  }

  .menu > ul > li > a{
    display: none;
  }
  .hide{
    display: block;
    margin-left: 180px;
  }

  /* banner */
  .banner_content{
    width: 80%;
  }

  .banner_content h1{
    font-size: 45px;
  }

  input, .select_btn{
    display: block;
    width: 80%;
    margin: 20px auto;
  }

  /* populer part */
  .populer_content {
    flex-direction: column;
  }

  .populer_text {
    margin:0 50px;
  }

  .populer_img {
    margin-top: 50px;
    text-align: center;
  }

  /* destination part */

  .destination_content{
    flex-direction: column;
    text-align: center;
  }

  .destination_img img{
    width: 90%;
    height: 100%;
  }


}
